[defaults]
inventory = inventory/hosts.yml
filter_plugins = ./filter_plugins
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent

[persistent_connection]
connect_timeout = 30
command_timeout = 30
